# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Temporary project files
uploads/
outputs/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db